.wrapper{
    background-color: lightgrey;
    height: 200px;
}
.image,.text,h1,.sideFooter,p{
    display: inline;
}
.image img{
    width: 300px;
}
.text{
    position: absolute;

}
.sideFooter{
    position: relative;
}
.sider{
    display: inline;
    position: absolute;
    border-left: 2px solid grey;
    padding: 10px;
    margin-top: 50px;
}